body {
    color: white;
    background-color: #52031B;
}

.main {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    grid-auto-flow: row;
    justify-content: center;
    margin-bottom: 100px;
}

section {
    padding: 20px 40px;
}

h1 {
    margin-bottom: 16px;
}

.block {
    width: 48px;
    height: 48px;
    background-color: #006600;
    margin: 1px 1px 1px 1px;
}

.block-closed-wall {
    width: 48px;
    height: 48px;
    background-color: firebrick;
    margin: 1px 1px 1px 1px;
}

.block-closed-start {
    width: 48px;
    height: 48px;
    background-color: blue;
    margin: 1px 1px 1px 1px;
}

.block-closed-end {
    width: 48px;
    height: 48px;
    background-color: yellow;
    margin: 1px 1px 1px 1px;
}

.btn {
    margin: 4px;
}

.path {
    width: 48px;
    height: 48px;
    background-color: grey;
    margin: 1px 1px 1px 1px;
}

.container {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 26px;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#messages {
    width: 100%;
    height: 26px;
    background-color: black;
    color: yellow;
    font-weight: 600;
    text-transform: uppercase;
}