body {
    color: white;
    background-color: #52031B;
}

.main {
    display: grid;
    grid-template-columns: repeat(20, 20px);
    grid-template-rows: repeat(20, 20px);
    grid-auto-flow: row;
    justify-content: center;
    margin-bottom: 36px;
}

section {
    padding: 16px 40px;
}

h1 {
    margin-bottom: 16px;
}

.block {
    width: 20px;
    height: 20px;
    background-color: #006600;
    margin: 1px 1px 1px 1px;
}

.block-closed-wall {
    width: 20px;
    height: 20px;
    background-color: firebrick;
    margin: 1px 1px 1px 1px;
}

.block-closed-start {
    width: 20px;
    height: 20px;
    background-color: blue;
    margin: 1px 1px 1px 1px;
}

.block-closed-end {
    width: 20px;
    height: 20px;
    background-color: yellow;
    margin: 1px 1px 1px 1px;
}

.btn {
    margin: 4px;
}

.path {
    width: 20px;
    height: 20px;
    background-color: grey;
    margin: 1px 1px 1px 1px;
}

.container {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 26px;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#messages {
    width: 80%;
    min-width: 400px;
    height: 26px;
    background-color: black;
    color: yellow;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
}